.divN {
  width: 200px;
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 10px;
}
.divV {
  width: 100px;
  display: inline;
  /*background-color: bisque;*/
  text-align: right;
}

.margin{
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
}
