.styDeleted{
  color: grey;
}
.base{
   background-color: lightgrey;
 }
.ciao{
  background-color: darkslateblue;
}
.miao{
   background-color: forestgreen;
 }
.bau{
    background-color: violet;
  }
