.card {
  min-height: 290px !important;
  max-width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  margin-bottom: 20px;
}

.containerPoolComponent {
  display: grid;
  grid-template-columns: 1fr;
  min-width: 390px;
  margin-left: 100px;
}

.containerPoolComponent li {
  margin-bottom: 25px;
}

button{
  height: 60px;
  width: 200px;
  font-size: x-large;
  margin-left: 190px!important;
  margin-bottom: 16px!important;

}

mat-card-actions {
  margin-left: 60px;
}
