<mat-card class="card">
  <mat-card-header>
    <mat-card-title><h4>{{device.name}}</h4></mat-card-title>
  </mat-card-header>
  <mat-card-content class="containerPoolComponent">
    <li>Livello liquido: {{device.liquidLevel | number:'1.0-0'}} l</li>
    <li>Acidità: {{device.ph | number:'1.1-1'}} ph</li>
  </mat-card-content>
  <mat-card-actions>
    <button  type="button" mat-button
             [ngClass]="{'motorON': device.isON,'motorOFF': device.isOFF}"
             (click)="device.deviceSwitch()">{{device.isON ? 'Svuota' : 'Riempi'}}</button>
    <button  type="button" mat-button
             (click)="device.phInc()">Incrementa PH</button>
    <button  type="button" mat-button
             (click)="device.phDec()">Decrementa PH</button>
  </mat-card-actions>
</mat-card>
