.pnlGreen {
  border: 2px solid green;
  color: green;
  padding: 20px;
}
.pnlBlue {

  border: 2px dotted blue;
  color: blue;
  padding: 40px;
 }
.pnlRed {

  border: 5px double red;
  color: red;
  padding: 15px;
  }
