<div>
  <form #styleForm="ngForm">
    <input type="text" name="catName" #cName="ngModel"
           required minlength="4"
           [(ngModel)]="catName" class="form-control w70 "
           placeholder="category name">

    <input type="text" name="styleName" #sName="ngModel"
           required minlength="4"
           [(ngModel)]="styleName" class="form-control w70 "
           placeholder="style name">

    <input type="text" name="stylevalue" #sValue="ngModel"
           [(ngModel)]="styleValue" class="form-control w70 "
           placeholder="category name">

    <button type="button" class="btn floatR w30 top10px"
            (click)="addCategory()">Add Category</button>
    <button type="button" class="btn floatR w30 left10px top10px"
            (click)="addStyle()">Add Style</button>
    <button type="button" class="btn floatR w30 left10px top10px"
            (click)="delete()">delete</button>
  </form>
</div>
<div  *ngFor="let c of getCategories()" style="border-bottom: solid 1px cornflowerblue">

  <h3>{{c.name}}</h3>
  <div *ngFor="let s of c.styles" style="border-bottom: solid 1px cornflowerblue">
    {{s.name}}: {{s.value}};
  </div>
</div>
