
<p>consumo globale di corrente impianto (ogni minuto)</p>
<p>consumo instantaneo per ogni componente (ogni minuto)</p>
<p>consumo globale acqua lavaggio (ogni giorno)</p>
<p>consumo corrente forni (ogni minuto)</p>
<p>temperatura media dei forni (ogni 10 minuti)</p>
<p>livello massimo e minimo vasche di trattamento (ogni ora)</p>
<!--
<app-list-item [sensors]="sensors0"></app-list-item>
<app-list-item [sensors]="sensors1"></app-list-item>
<app-list-item [sensors]="sensors2"></app-list-item>
-->
<app-list [objects]="objects"></app-list>
