<div class="containerTitolo">
  <h1>Controlli Impianto Angus</h1>

  <button type="button" mat-raised-button class="startButtonImpianto"
          [ngClass]="{'motorON': isON(),'motorOFF': isOFF()}"
          (click)="motorSwitch()">{{status}}
  </button>
</div>

<hr>

<!--
<app-motor [config]="pompa1"></app-motor>
<app-pool [config]="vasca1" [sRPM]="pompa1.getsRPM()"></app-pool>
<app-motor [config]="pompa2"></app-motor>
<app-pool [config]="vasca2" [sRPM]="pompa2.getsRPM()"></app-pool>
<app-motor [config]="ventilatore1"></app-motor>
<app-motor [config]="motore1"></app-motor>
<app-motor [config]="motore2"></app-motor>
-->

<div class="containerDevice">
  <div>
    <h1>Sezione lavaggio</h1>
    <div class="containerUnit">
      <div>
        <h3>Prelavaggio</h3>
        <app-motor [config]="pompa1"></app-motor>
        <app-pool [config]="vasca1" [sRPM]="pompa1.getsRPM()"></app-pool>
      </div>
      <div class="unitData">
        <app-node [object]="prelavaggio"></app-node>
      </div>
    </div>
    <div class="containerUnit">
      <div>
        <h3>Lavaggio</h3>
        <app-motor [config]="pompa2"></app-motor>
        <app-pool [config]="vasca2" [sRPM]="pompa2.getsRPM()"></app-pool>
      </div>
      <div class="unitData">
        <app-node [object]="lavaggio"></app-node>
      </div>
    </div>
    <div class="containerUnit">
      <div>
        <h3>Asciugatura</h3>
        <app-motor [config]="ventilatore1"></app-motor>
      </div>
      <div class="unitData">
        <app-node [object]="asciugatura"></app-node>
      </div>
    </div>
  </div>
  <div>
    <h1>Sezione stoccaggio</h1>
    <div class="containerUnit">
      <div>
        <h3>Impilatore</h3>
        <app-motor [config]="motore1"></app-motor>
        <app-motor [config]="motore2"></app-motor>
      </div>
    </div>
  </div>
</div>
<!--<h3>Dati prodotti</h3>
<app-node [object]="root"></app-node>-->
