.card {
  min-height: 290px !important;
  width: 900px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  margin-bottom: 20px;
}

.containerMotorComponent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-width: 390px;
}

.setDeviceData {
  margin-left: 10px;
}

.setDeviceData mat-form-field {
  margin-top: 15px;
  margin-bottom: 18px;
}

.deviceData {
  margin-top: 35px;
  margin-left: 40px;
}

.deviceData li {
  margin-bottom: 30px;
}

button {
  margin-left: 345px!important;
  margin-bottom: 16px!important;
}

mat-card-actions {
  margin-left: 10px;
}
