<!--  risposta agli eventi
      (evtName)="method()"
      (click)="createToDo()"
-->
<div class="row">
  <div class="col-12  bdrG">
    <form #userForm="ngForm">
      <div class="top10px floatL w100">Title
        <input type="text" name="Title" #Title="ngModel"
               required minlength="4" appForbiddenName="bobby"
               [(ngModel)]="sTitle" class="form-control w70 floatR"
               [ngClass]="{'err2': Title.invalid && (Title.dirty || Title.touched) }"
               placeholder="...">

        <!--<div *ngIf="Title.invalid && (Title.dirty || Title.touched)"
             class="alert alert-warning ppad">

          <div *ngIf="Title.errors.required">
            Name is required.
          </div>
          <div *ngIf="Title.errors.minlength">
            Name must be at least 4 characters long.
          </div>
          <div *ngIf="Title.errors.forbiddenName">
            Name cannot be Bobby.
          </div>

        </div>-->











      </div>
      <div class="top10px floatL w100">Description
        <textarea name ="Description" #Description [(ngModel)]="sDescription" class="form-control w70 h100px floatR" placeholder="Write something..."></textarea>
      </div>
      <div class="top10px floatL w100">Category
        <input type="text" name="Category" [(ngModel)]="sCategory" class="form-control w70 floatR" placeholder="...">
        <select name="aCategory" [(ngModel)]="lCategory" class="form-control w70 floatR">
          <option *ngFor="let o of categories.getCategories()" [ngValue]="o">{{o.name}}</option>

        </select>
      </div>







      <div class="w100 top10px floatL">


        <button *ngIf="isNew"  type="button" class="btn floatR w10 bottom10px left10px"
                [disabled]="userForm.pristine || userForm.invalid" (click)="createToDo()" >Save</button>
        <button *ngIf="!isNew"  type="button" class="btn floatR w10 bottom10px left10px"
                [disabled]="userForm.pristine  || userForm.invalid" (click)="updateToDo()" >Update</button>


        <button type="button" class="btn floatR w10 left10px"
                (click)="reset()">Reset</button>
        <button type="button" class="btn floatR w10 left10px"
                (click)="clear()">Clear list</button>

        <!-- TODO sistemare le checkbox-->
        <div class="floatR w10 left10px">
          <label >
            <input type="checkbox" name="vUsed" [(ngModel)]="viewUsed"  class="floatR bdrC top10px" title="ciao"/>
            used </label>
          <label >
            <input type="checkbox" name="vDeleted" [(ngModel)]="viewDeleted" class="floatR bdrC top10px" title="miao"/>
            removed </label>
        </div>

        <button type="button" class="btn floatR w10 left10px"
                [disabled]="!hasDeleted" (click)="empty()">Empty</button>
        <button type="button" class="btn floatR w10"
                (click)="restore()">Restore</button>
      </div>
    </form>
  </div>
</div>
